/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fbebdb;
}

/* App Bar (Navbar) Styles */
.app-bar {
    background-color: #d89298;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover, .nav-links a:active {
    background-color: #b64d57;
    border-radius: 5px;
}

/* Home Page Content Styles */
.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: left;
}

.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
}


.cta-button:hover {
    background-color: #b64d57;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.1); /* Slightly increase the size on hover */
    opacity: 0.8; /* Reduce opacity for hover effect */
}